button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}

/* Float cancel and delete buttons and add an equal width */
.finishedbtn, .suspendedbtn, .inprogressbtn, .incomingbtn, .incomingbtndisabled,.finishedbtndisabled {
  float: left;
  width: 33%;
}

/* Add a color to the cancel button */
.inprogressbtn {
  background-color: #04AA6D;
  color: black;
}

/* Add a color to the delete button */
.suspendedbtn {
  background-color: #fa4444;
  color: black;
}

.finishedbtn {
  background-color: #3377FF;
  color: black;
}
.finishedbtndisabled{
  background-color: #A2A5AD;
  color: black;
}

.incomingbtn {
  background-color: #E7E72C;
  color: black;
}

.incomingbtndisabled{
  background-color: #A2A5AD;
  color: black;
}
