<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

  <!-- Ajout de la police-->

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">

</head>

<body>

<div>
  <app-alert-error [level]="level" [header]="header" [message]="errorMessage"></app-alert-error>
</div>
  <button class="btn" (click)="open(mymodal_line)">Nouvelle ligne de frais</button>
  <ng-template #mymodal_line let-modal id="modal">
      <div class="modal-header">
        <h4 class="modal-title" id="modal-title">Nouvelle ligne de frais</h4>
      </div>

      <div class=" modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class =col-6>
              <label for="titre">Titre :</label>
              <input type="text" class="form-control" id="titre" [(ngModel)]="titre">
            </div>

              <div class =col-3>
                <label for="ttc">TTC :</label>
                <input type="text" class="form-control" id="ttc" [(ngModel)]="ttc">
              </div>

              <div class =col-3>
                <label for="currency">Devise :</label>
                <input type="text" class="form-control" id="currency" [(ngModel)]="currency">
              </div>
          </div>

          <div class="row">
            <div class =col-6>
              <label for="date">Date :</label>
              <input id="date" class="form-control" type="date" name="date"   [(ngModel)]="date">
              <script>
                document.getElementById("date").valueAsDate = new Date();
              </script>
            </div>

            <div class =col-3>
              <label for="tva">TVA :</label>
              <input type="text" class="form-control" id="TVA" [(ngModel)]="tva">
            </div>

            <div class =col-3>
              <label for="rate">Taux :</label>
              <select type="text" class="form-control" id="rate" [(ngModel)]="rate">
                <option value="20">20 %</option>
                <option value="10">10 %</option>
                <option value="5.5">5.5 %</option>
                <option value="2.1">2.1 %</option>
                <option value="2.4">2.4 %</option>
              </select>
            </div>
          </div>

          <div class="row">
            <div class =col-6>
              <label for="category">Catégorie :</label>
              <select type="text" class="form-control" id="category" [(ngModel)]="category">
                <option value="RESTAURATION">Restauration</option>
                <option value="HEBERGEMENT">Hébergement</option>
                <option value="DEPLACEMENT">Déplacement</option>
                <option value="AUTRE">Autre</option>
              </select>
            </div>
            <div class =col-6>
              <label *ngIf="category !== 'DEPLACEMENT'"for="description">Description :</label>
              <label *ngIf="category === 'DEPLACEMENT'" for="description">Trajet parcouru :</label>
              <input type="textarea" class="form-control" id="description" [(ngModel)]="description">
            </div>
          </div>

          <div class="row">
            <div class =col-6>
              <label for="paymentMethod">Moyen de paiement :</label>
              <select type="text" class="form-control" id="paymentMethod" [(ngModel)]="paymentMethod">
                <option value="carte">Carte</option>
                <option value="espece">Espèce</option>
              </select>
            </div>
            <div *ngIf="category === 'DEPLACEMENT'" class =col-6>
              <label for="kmDone">Kilomètres parcourus :</label>
              <input type="text" class="form-control" id="kmDone" [(ngModel)]="km">
            </div>
            <div *ngIf="category === 'RESTAURATION'" class =col-6>
              <label for="rPlace">Nom de l'établissement :</label>
              <input type="text" class="form-control" id="rPlace" [(ngModel)]="rPlace">
            </div>
            <div *ngIf="category === 'HEBERGEMENT'" class =col-6>
              <label for="hPlace">Nom de l'établissement :</label>
              <input type="text" class="form-control" id="hPlace" [(ngModel)]="hPlace">
            </div>
          </div>

          <div class="row">
            <div class =col-6>
              <label for="country">Pays :</label>
              <input type="text" class="form-control" id="country" [(ngModel)]="country">
            </div>
            <div *ngIf="category === 'DEPLACEMENT'" class =col-6>
              <label for="vehicle">Véhicule (avec chevaux fiscaux) :</label>
              <input type="text" class="form-control" id="vehicle" [(ngModel)]="vehicle">
            </div>
            <div *ngIf="category === 'RESTAURATION'" class =col-6>
              <label for="guestsName">Nom des invités :</label>
              <input type="text" class="form-control" id="guestsName" [(ngModel)]="guestsName">
            </div>
          </div>

          <div class="row">
            <div class =col-6>
              <label for="associatedNote">Note associée :</label>
              <select type="text" class="form-control" id="associatedNote" [(ngModel)]="associatedNote">
                <option *ngFor="let expenseBill of expenseBills "[value]="expenseBill.id">
                  {{expenseBill.name}}
                </option>
              </select>
            </div>
            <div class =col-6>
              <label for="supportingDocuments">Justificatif :</label>
              <input type="file" class="form-control" id="supportingDocuments" accept="image/png, image/jpeg, image/pdf" [(ngModel)]="supportingDocuments">
            </div>
          </div>

          <div class="row">
            <div class =col-6>
              <label for="lineMission">Mission :</label>
              <select type="text" class="form-control" id="lineMission" [(ngModel)]="lineMission">
                <option *ngFor="let mission of missions "[value]="mission.id">
                  {{mission.name}}
                </option>
              </select>
            </div>

            <div class =col-6>
              <div class="modal-footer">
                <button type="button" class="btn btn-outline-dark" (click)="createNewLineBill()" (click)="modal.close('Save click')">Ok</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-template>

</body>

<!-- Fin du modal d'ouverture des boutons Nouvelle note de frais et nouvelle ligne de frais-->

