.container-fluid{
  border-style: outset;
  border-width: medium;
  max-height: 430px;
  overflow-y: scroll;
}
* {
  font-family: 'Ubuntu', sans-serif;
}

.h2{
  font-size: smaller;
}

.trash{
  text-align: center;
  vertical-align: middle;
}




