.container-fluid{
  border-style: outset;
  border-width: medium;
  max-height: 430px;
}

* {
  font-family: 'Ubuntu', sans-serif;
}

#eye_image{
  display: flex;
  align-items: center;
  justify-content: center;
}
