
/* positionnement des éléments */
* {
  font-family: 'Ubuntu', sans-serif;
}

#note{
  float:left;
}

#line{
  float: left;
}

#advance{
  margin-left:20%;
}

.row{
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}




