
/* positionnement des éléments */
* {
  font-family: 'Ubuntu', sans-serif;
}

#note{
  float:left;
}

#line{
  float: left;
}

.row{
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.error {
  border: solid;
  border-color: red;
  text-align: center;
  margin-left: 30px;
  margin-right: 30px;
}

#error-content{
  color: red;
}




